# .NET
bin/
obj/
*.user

# Node
node_modules/
dist/

# IDE
.vs/
.vscode/
*.swp

# Database
pgdata/

# Azure Functions
local.settings.json

# OS
.DS_Store
Thumbs.db
restyle-app

# Python
__pycache__/
*.pyc
*.egg-info/
